@import "../../app/variables.scss";

.createToolsInner {
  position: relative;
  width: 125px;
  height: 100%;
  background-color: white;
  border-right: 1px $lightGrey solid;
  border-bottom: 1px $lightGrey solid;
  border-bottom-right-radius: 150px;

  // decorative curve?
  //   &:after {
  //     content: " ";
  //     display: block;
  //     position: absolute;
  //     background-color: white;
  //     width: 200px;
  //     height: 200px;
  //     clip-path: circle(97.5% at 98% 98%);
  //   }
}
