.pricingHeader {
  h2 {
    font-size: 42px;
    margin-bottom: 25px;
  }
}

.pricing {
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 20px;
  }
  h4 {
    font-size: 28px;
  }
  ul {
    padding: 15px 0 15px 15px;
  }
}
